<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add daily book recommendation</h1>
    <hr>
    <form method='post' enctype='multipart/form-data' action='/recommend'>
      <p>Check Code: <input type='text', name='recCHK', placeholder='Check code'/></p>
      <p>Title: <input type='text', name='recTitle', placeholder='Title'/></p>
      <p>Summary: <textarea name='recSummary' rows='5' cols='20'></textarea></p>
      <p>Thumbnail: <input type='file', name='recThumbnail'/></p>
      <p><input type='submit', value='Add'/></p>
    </form>
    <hr>
    <h1>Latest recommendation</h1>
    <% if (recommendation.notFound) { %>
    <p>
      <div style="border: dashed gray 1px; margin:4px; padding:4px;">
        <h3><%= recommendation.title %> </h3>
        <%= recommendation.summary %> <br/><br/>
        <%= recommendation.thumbnail %><br/>
        <img src="<%= recommendation.rawdata %>"/>
      </div>
    </p>
    <% } else { %>
    <p><div>No book recommendation founded!</div></p>
    <% } %>
  </body>
</html>


